<div id="templatemo_content_left">
  <div class="templatemo_content_left_section">
      <h1>Categories</h1>
        <ul>
          <li><a href="books/1">Donec accumsan urna</a></li>
          <li><a href="books/1">Proin vulputate justo</a></li>
          <li><a href="books/1">In sed risus ac feli</a></li>
          <li><a href="books/1">Aliquam tristique dolor</a></li>
          <li><a href="books/1">Maece nas metus</a></li>
          <li><a href="books/1">Sed pellentesque placerat</a></li>
          <li><a href="books/1">Suspen disse</a></li>
          <li><a href="books/1">Maece nas metus</a></li>
          <li><a href="books/1">In sed risus ac feli</a></li>
      </ul>
    </div>
  <div class="templatemo_content_left_section">
    <h1>Bestsellers</h1>
      <ul>
          <li><a href="books/1">Vestibulum ullamcorper</a></li>
          <li><a href="books/1">Maece nas metus</a></li>
          <li><a href="books/1">In sed risus ac feli</a></li>
          <li><a href="books/1">Praesent mattis varius</a></li>
          <li><a href="books/1">Maece nas metus</a></li>
          <li><a href="books/1">In sed risus ac feli</a></li>
          <li><a href="books/1">Flash Templates</a></li>
          <li><a href="books/1">CSS Templates</a></li>
          <li><a href="books/1">Web Design</a></li>
          <li><a href="http://www.photovaco.com" target="_parent">Free Photos</a></li>
    </ul>
    </div>
</div> <!-- end of content left -->
