<h1>Account page</h1>
<div class="first-name section">
  <span>First name:</span>
  <p>{{currentUser.firstName}}</p>
</div>

<div class="last-name section">
  <span>Last name:</span>
  <p>{{currentUser.lastName}}</p>
</div>

<style>
  .section {
    float: left;
    margin-left: 10px;
  }
</style>
