</body>
</html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base href="/"/>
<title>Book Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="templatemo_container">
      {{> top_menu}}
      {{> header}}
      <div id="templatemo_content">
          {{> left_section}}
          <div id="templatemo_content_right">
              {{{body}}}
          </div> <!-- end of content right -->
      	<div class="cleaner_with_height">&nbsp;</div>
      </div> <!-- end of content -->

      <div id="templatemo_footer">
        {{> footer}}
      </div>
      <!-- end of footer -->
    </div> <!-- end of container -->
  </body>
  </html>
